services:
	- App\Core\RouterFactory::createRouter
#	- App\Logic\ProcessDuckSerp(url: "%duckDuckGoUrl%")
	- App\Logic\ProcessGoogleSerp(url: "%googleUrl%", apiKey: %googleApiKey%)
	- GuzzleHttp\Client
	- Http\Discovery\Psr17Factory
	- App\Libs\Translator
	- App\Libs\Downloader(userAgent: "%applicationName% %version%")
	- App\Presentation\Home\HomePresenter(fileName: "%applicationName% search result @query@ @date@ @time@")



search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service