services:
	- App\Core\RouterFactory::createRouter
#	- App\Logic\ProcessDuckSerp(url: "%duckDuckGoUrl%")
	- App\Logic\ProcessGoogleSerp(url: "%duckDuckGoUrl%", apiKey: %gogoleApiKey%)
	- GuzzleHttp\Client
	- App\Logic\Downloader(userAgent: "%applicationName% %version%")


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
