{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>Welcome!</h1>
</div>

<div id="content">
	<p n:translate>Download search engine result page to your computer in computer readable format.</p>
	{control form}
</div>
{/block}