{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>Congratulations!</h1>
</div>

<div id="content">
	<p n:translate>Aplikace na ukládání výsledků vyhledávání. Vyplňte dotaz a odešlete, výsledky budou staženy na váš počítač. </p>
	{control form}
</div>
{/block}